@import "src/index";
$main-page-height:calc(100vh - $navbar-height);
$main-page-first-col-width:65vw;
$main-page-second-col-width: 33vw;
.main-page-container{
  position: fixed;
  display: flex;
  top: $navbar-height;
  left:0;
  width: 100vw;
  height: $main-page-height;
}
.main-page-first-batch{
  height: $main-page-height;
  width: $main-page-first-col-width;
  margin-right: 2vw;

}
.main-page-last-quizzes{
  width: $main-page-first-col-width;
  height: calc($main-page-height / 2 );
  background-color: darkgray;
}
.main-page-mentions{
  width:$main-page-first-col-width;
  height: calc($main-page-height / 2 );
  background-color: darkgray;
}

.main-page-users-followed{
  width: $main-page-second-col-width;
  height: $main-page-height;
  background-color: darkgray;
  overflow-y: scroll;
}
.main-page-section-name{
  width:$main-page-first-col-width;
  height: 2vw;
  background-color: gainsboro;
  font-size: 3vh;
  color:black;
}
.main-page-quizzes-display{
  width: $main-page-first-col-width;
  height: calc($main-page-height / 2 - 2vw);
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.main-page-quiz-profile{
  height: calc($main-page-height / 2  - 6vh);
  width: 10vw;
  margin: 1vh 1vw;
  display: inline-grid;
  background-color: gainsboro;

}
.main-page-quiz-name{
  font-size: 1.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
}
.main-page-quiz-info{
  font-weight: bold;
}
.main-page-quiz-info-label{
  margin-bottom: 1vh;
}
.main-page-creator-display{
  width: $main-page-second-col-width;
  height: calc($main-page-height - 2vw);
  display: flex;
  overflow-y: scroll;
}
.main-page-creator-profile{
  width: calc($main-page-second-col-width - 1vw);
  height: 7vh;
  margin: 1vh 0.5vw;
  display: flex;
 justify-items: left;
  background-color: gainsboro;
}
.main-page-creator-profile-pic-container{
  height: 6vh;
  width: 6vh;
  margin: 0.2vh;
}
.main-page-creator-profile-pic{
  height: inherit;
  width: inherit;
}
.main-page-profile-info-container{
  align-items: center;
  margin-top: 0.4vh;
  margin-left: 3vw;
}
.main-page-profile-name{
  font-weight: bolder;
  margin-bottom: 0.3vh;
}
.main-page-profile-info{

}