$navbar-height:8vh;
$primary-color:rgba(97,4,144,1);
$secondary-color:rgba(100,12,196,1);
$tetriary-color: rgb(0, 128, 255);
$background-color: gainsboro;
body{
  background-color: $background-color;
  margin: 0;
  overflow: hidden;
}
.navbar{
  position: fixed;
  background: rgb(97,4,144);
  background: linear-gradient(90deg, rgba(97,4,144,1) 0%, rgba(100,12,196,1) 50%, rgb(0, 128, 255) 100%);
  width: 100vw;
  display: flex;
  height: $navbar-height;
  top: 0;
  left: 0;
  justify-items: revert;

}
.page_name{
  position: relative;
  top: 1vh;
  font-size: 5vh;
  font-family: "Baskerville Old Face";
  color: oldlace;
  margin-left: 1vw;
  cursor: pointer;

}
.search-bar-container{
  position:relative;
  top: 3vh;
  margin-left: 4vw;
  height: 3vh;
  width: 30vw;
  display: flex;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  overflow: hidden;
}
.search-bar{
  width: 25vw;
  height: 3vh;
  background-color: lavenderblush;
  margin-right:0 ;
  border-style: none;
}
.search-bar:focus{
  outline: none;

}
.search-bar-button{
  height: 3vh;
  width: 5vw;
  background-color: $primary-color;
  margin-left: 0;
  border-style: none;
  display: flex;
  color:whitesmoke;
  align-items: center;
 justify-content: center;
  cursor: pointer;
}
.search-bar-button:hover{
  background-color: blueviolet;
}
.search-bar-button:active{
  background-color: $primary-color;
}
.navbar-button-container{
  position:relative;
  top: calc(5 * $navbar-height / 8);
  width: 30vw;
  height: calc(3 * $navbar-height / 8);
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-content: revert;
  overflow: visible;
}
.navbar-button{
  margin-right: 1vw;
  color: whitesmoke;
  cursor: pointer;
}
.navbar-button:hover{
  text-decoration: underline;
}
.navbar-button:active{
  color: blueviolet;
  text-decoration: underline;
}